* {
  font-family: 'Montserrat', Helvetica;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.date-input input {
  text-align: center;
  padding: 0.5em;
  border-radius: 20px;
}
